#calendar {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 height: 30rem;
 overflow: hidden;
}

#calendar .container {
  background-color: rgb(5, 5, 119);
  width: 15rem;
  height: 15rem;
  border-radius: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar .paper {
  background-color: white;
  width: 14rem;
  height: 14rem;
  border: .5px solid black;
  transform-origin: top right;
  position: absolute;
}

#calendar .date-container {
 color: black;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 100%;
}

#calendar .date {
  color: black;
  font-size: 5rem;
  font-weight: bolder;
 }

 #calendar .month {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem;

 }

 #calendar .weekday {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  align-self: flex-end;
 }

@keyframes paper-fall {
  20% {
    transform: rotate(-25deg) scaleY(.8);
  }
  40% {
    transform: translate(2rem, 3rem) rotate(-20deg) skew(10deg);
    z-index: 500;

  }
  100% {
    transform: translate(10rem, 18rem) rotate(20deg) scaleY(0.02);
    z-index: 1;
  }
  100% {
    transform: translate(10rem, 20rem) rotate(0deg) scaleY(0.02);
    z-index: 1;
  }
}


#calendar .watcher {
  width: 14rem;
  height: 15rem;
  background-color: rgb(189, 127, 248);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#calendar  .eye-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 3rem;
}

#calendar .eye {
  width: 3.5rem;
  height: 4rem;
  background-color: rgb(246, 239, 253);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#calendar .pupil {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(4, 0, 9);
  border-radius: 50%;
  animation: looky-looky 2s linear infinite;
}

@keyframes looky-looky {
  15%{ transform: translateY(0rem);}
  65%{ transform: translateY(.8rem)}
  80%{ transform: translateY(0rem);}
}

#calendar .mouth {
  width: 3rem;
  height: .2rem;
  border-radius: 50%;
  background-color: black;
  animation: mouth-animate 2s linear infinite;
  position: absolute;
  margin-top: 5rem;
}

@keyframes mouth-animate {
  10%{   width: 3rem;
    height: .2rem;}
  30%{   width: 1rem;
    height: 1.5rem;}
  50%{   width: 1rem;
      height: 1.5rem;}
  80%{   width: 3rem;
    height: .2rem;}
  
}