#clock {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 25rem;
}


#clock .body {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-image: radial-gradient(circle at center, rgb(19, 19, 59) 65%, rgb(109, 109, 194) 72%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock .face {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-color: rgb(221, 221, 248);
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock .center {
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
}

#clock .second-hand {
  width: 7rem;
  height: .2rem;
  background-color: red;
  border-radius: .3rem;
  position: absolute;
  margin-left: .35rem;
  margin-top: -.1rem;
}


#clock .hand-container > .second-hand {
  animation: rotate-seconds 60s infinite linear;
  transform-origin: 0% 50%; 
}



#clock .minute-hand {
  width: 6rem;
  height: .3rem;
  background-color: black;
  border-radius: .3rem;
  position: absolute;
  margin-left: .35rem;
  margin-top: -.2rem; 
}

#clock .hand-container > .minute-hand {
  animation: rotate-minutes 3600s infinite linear;
  transform-origin: 0% 50%; 
}


#clock .hour-hand {
  width: 4rem;
  height: .4rem;
  background-color: black;
  border-radius: .3rem;
  position: absolute;
  margin-left: .4rem;
  margin-top: -.2rem; 
}

#clock .hand-container > .hour-hand {
  animation: rotate-hours 43200s infinite linear;
  transform-origin: 0% 50%; 
}

#clock .center-cover {
  position: absolute;
  z-index: 10;
}

/* #clock .numbers {
  position: absolute;
  width: 18rem;
  height: 18rem;
  background-color: transparent;
  border-radius: 50%;
}

#clock .vertical-numbers {
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2.5rem;
}

#clock .horizontal-numbers {
  height: 100%;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
} */


.numbers {
  position: absolute;
  width: 18rem;
  height: 18rem;
  align-items: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.number {
  color: black;
  font-size: 2.5rem;
  position: absolute;
}

/* .number:nth-child(1) {
  transform: translate(4.1rem, 1.2rem);
}
.number:nth-child(2) {
  transform: translate(6.8rem, 4rem);
}
.number:nth-child(3) {
  right: .2rem;
  top: 41%;
}
.number:nth-child(4) { transform: translate(7rem, 10.7rem); }
.number:nth-child(5) { transform: translate(4.3rem, 13.6rem); }
.number:nth-child(6) {
  bottom: 0;
}
.number:nth-child(7) { transform: translate(-3.8rem, 13.8rem); }
.number:nth-child(8) { transform: translate(-6.5rem, 11rem); }
.number:nth-child(9) {
  left: .5rem;
  top: 41%;
}
.number:nth-child(10) {
  transform: translate(-6.2rem, 4.1rem);
}
.number:nth-child(11) {
  transform: translate(-3.6rem, 1.1rem);
} */



.number:nth-child(1) { transform: translate(4.1rem, 1.2rem); }
.number:nth-child(2) { transform: translate(6.8rem, 4rem); }
.number:nth-child(3) { right: 0.2rem; top: 41%; }
.number:nth-child(4) { transform: translate(7rem, 10.7rem); }
.number:nth-child(5) { transform: translate(4.3rem, 13.6rem); }
.number:nth-child(6) { bottom: 0; }
.number:nth-child(7) { transform: translate(-3.8rem, 13.8rem); }
.number:nth-child(8) { transform: translate(-6.5rem, 11rem); }
.number:nth-child(9) { left: 0.5rem; top: 41%; }
.number:nth-child(10) { transform: translate(-6.2rem, 4.1rem); }
.number:nth-child(11) { transform: translate(-3.6rem, 1.1rem); }
