#clock {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 25rem;
}


#clock .body {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-image: radial-gradient(circle at center, rgb(50, 50, 114) 65%, rgb(109, 109, 194) 72%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock .face {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-color: rgb(221, 221, 248);
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock .center {
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
}

#clock .second-hand {
  width: 7rem;
  height: .2rem;
  background-color: rgb(200, 70, 137);
  border-radius: .3rem;
  position: absolute;
  margin-left: .35rem;
  margin-top: -.1rem;
  z-index: 5;
}


#clock .hand-container > .second-hand {
  animation: rotate-seconds 60s infinite linear;
  transform-origin: 0% 50%; 
}



#clock .minute-hand {
  width: 6rem;
  height: .3rem;
  background-color: black;
  border-radius: .3rem;
  position: absolute;
  margin-left: .35rem;
  margin-top: -.2rem; 
}

#clock .hand-container > .minute-hand {
  animation: rotate-minutes 3600s infinite linear;
  transform-origin: 0% 50%; 
}


#clock .hour-hand {
  width: 4rem;
  height: .4rem;
  background-color: black;
  border-radius: .3rem;
  position: absolute;
  margin-left: .4rem;
  margin-top: -.2rem; 
}

#clock .hand-container > .hour-hand {
  animation: rotate-hours 43200s infinite linear;
  transform-origin: 0% 50%; 
}

#clock .center-cover {
  position: absolute;
  z-index: 10;
}

.numbers {
  position: absolute;
  width: 18rem;
  height: 18rem;
  align-items: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.number {
  color: black;
  font-size: 2.5rem;
  position: absolute;
  z-index: 4;
}

.number:nth-child(1) { transform: translate(3.7rem, 1.4rem); }
.number:nth-child(2) { transform: translate(6.3rem, 4.1rem); }
.number:nth-child(3) { right: 1rem; top: 43%; }
.number:nth-child(4) { transform: translate(6.3rem, 11rem); }
.number:nth-child(5) { transform: translate(3.7rem, 13.6rem); }
.number:nth-child(6) { bottom: .4rem; }
.number:nth-child(7) { transform: translate(-3.7rem, 13.6rem); }
.number:nth-child(8) { transform: translate(-6.1rem, 11rem); }
.number:nth-child(9) { left: 1rem; top: 43%; }
.number:nth-child(10) { transform: translate(-5.7rem, 4.3rem); }
.number:nth-child(11) { transform: translate(-3.3rem, 1.7rem); }
.number:nth-child(12) { transform: translate(0rem, .6rem); }

.dots {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: rotate(9.2deg);
}

.dot-container {
  position: absolute;
  width: 12.4rem;
  height: 12.4rem;
  top: 2.6rem;
}

.dot {
  width: .3rem;
  height: .3rem;
  position: absolute;
  border-radius: 50%;
  background-color: black;
}